$body-color: #212529;
$body-background: #fff;

$header-height: 40px;

$sidebar-width: 230px;
$sidebar-color: $gray-300;
$sidebar-background: #272a33;
$sidebar-ul: #393d49;
$sidebar-ul-active-background: #4E5465;
$sidebar-item-left: 40px;
$sidebar-icon-left: 15px;
$sidebar-item-active: #fff;
$sidebar-item-active-background: #009688;