.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  font-weight: $font-weight-base;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214

  @include button-size($padding-asym-base, $line-height-base, $border-radius-base, $font-size-base);

  &:focus {
    outline: none;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
  }

  @at-root {
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      @include opacity(.65);
    }
  }
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value, #fff);
  }
}

.btn-lg {
  @include button-size($padding-asym-base, $font-size-lg, $line-height-base, $border-radius-base);
}

.btn-sm {
  @include button-size($padding-asym-base, $font-size-sm, $line-height-base, $border-radius-base);
}

.btn-xs {
  @include button-size($padding-asym-base, $font-size-sm, $line-height-base, $border-radius-base);
}